@page
@model UIRSHOP.WEB.BO.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Manage Products";
}


<div class="container-fluid">
    <div class="row justify-content-center mb-3">
        <div class="col-12">
            <div class="card mx-auto">
                <div class="card-body text-center">
                    <h2>Products</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-end my-3">
        <div class="col-xl-2 col-lg-2 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <a asp-page="/Products/Create" class="btn btn-info"><span class="h5"><i class="bi bi-plus-lg"></i> New Product <i class="bi bi-cart-fill"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><span class="h4">Name</span></th>
                                    <th><span class="h4">Price</span></th>
                                    <th><span class="h4">Category</span></th>
                                    <th><span class="h4">Description</span></th>
                                    <th><span class="h4">Size</span></th>
                                    <th><span class="h4">Color</span></th>
                                    <th><span class="h4">Supplier</span></th>
                                    <th class="text-center"><span class="h4">Action</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ProductDtos)
                                {
                                    var categoryName = Model.CategoryDtos.Where(c => c.Id == item.CategoryId).Select(c => c.Name).FirstOrDefault();
                                    var supplierName = Model.SupplierDtos.Where(s => s.Id == item.SupplierId).Select(s => s.Name).FirstOrDefault();
                                    <tr>
                                        <td><span class="h4">@item.Name</span></td>
                                        <td><label class="badge badge-success"><span class="h5">@item.Price</span></label></td>
                                        <td><span class="h4">@categoryName</span></td>
                                        <td><span class="h4">@item.Description</span></td>
                                        <td><label class="badge badge-warning"><span class="h5">@item.Size</span></label></td>
                                        <td><span class="h4">@item.Color</span></td>
                                        <td><span class="h4">@supplierName</span></td>
                                        <td class="text-center"><a asp-route-id="@item.Id" asp-page="/Products/Details" class="btn btn-info"><span class="h5">Manage</span></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>